# System Files
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Node (Test Runner logs)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local Server
.live-server/
